ul{
    list-style-type: none;
    margin:0;
    padding:0;
    border:1px solid;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

li{
    display:inline;
    border-right: 1px solid $grey;
}

a{
    color: $blue;
}